.ipynb_checkpoints/

# records with crime
data/Chicago_Crimes.csv

# location of police stations
data/Police_Stations.csv

# geojson files with boundaries for districts and community areas
data/Boundaries_Police_Districts
data/Boundaries_Community_Areas

# file with mapbox public key
data/mapbox_public_key
